<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https:/thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Acesso negado</title>

<!-- Importando JQuery e Bootstrap: -->

<link rel="stylesheet"
	th:href="@{/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js}"></script>


</head>
<body>
	<h3>Acesso negado</h3>
</body>
</html>